<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niklas</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Hej Niklas!</h1>

    <form action="/" method="post">
        <input type="email" name="email">
        <input type="text" name="message">
        <button type="submit">Send</button>
    </form>
</body>

</html>